@reference 'tailwindcss';

.code-editor__active-line,
.code-editor__active-line-symbol {
  @apply bg-cyan-300/40;
}

.code-editor__active-line-symbol {
  position: relative;
}

.code-editor__active-line-symbol::after {
  position: absolute;
  width: 100%;
  text-align: center;
  content: '\2192';
}

.code-editor__highlight-color {
  /* just to register them for tailwind */
  /* [ 'amber-500', 'green-500', 'blue-500', 'red-500', 'purple-500', 'pink-500' ] */
  /* @apply bg-amber-500 bg-green-500 bg-blue-500 bg-red-500 bg-purple-500 bg-pink-500; */
}